body{
  margin:0;
    text-align: center;

}

h1{
  color:#66BFBF;
  margin-top:0;
    font-size: 3rem;
}
h2{
  color:#66BFBF;
  font-size:2.5rem;

}
h3{
  color:#11999E;
  font-size: 2rem;
}
p{
  color:#40514E;
}

hr{
  border-style:none;
  border-bottom-style: dotted;
  border-width: 10px;
  border-color:#Eaf6f6;
  width:10%;


}

.top-cointainer{
  position: relative;

  padding-top:100px;
  background-color: #EAF6f6;
}

.top-cloud{
  position:absolute;
  top:50px;
  right: 300px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  top:200px;

}
.main-content{
  margin:0 auto;
  width:50%;
  padding-top:20px;


}
.main-photo{
  border-radius: 50%;
}
.skills{
  width:50%;
  margin:0 auto;
    /* background-color: green; */
}

.cupcake{
  float:left;
  width:20%;
  margin-right:100px;
}

.chillie{
  float:right;
  width:20%;
  margin-left: 100px;
}

.contact{
  clear: right;
  padding-top:100px;
  margin-bottom:100px;
}

.skill-row2{
  margin-top:200px;
}

.footer{
  margin-top:100px;
  padding:50px;

  background-color: #66BFBF;

}

a{
  color:#11999E;
  font-size: 30px;
  padding:20px;
  text-decoration: none;
}

a:hover{
  color:#00777C;
}


.copy-right{
  margin:0;
margin-top:20px;
  font-size: 20px;
  color: white;
}



/*  BUTTON*/
.redbutton {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 14px;
   line-height: 14px;
   color: #FFFFFF;
   font-family: Courier New;
   width: 185px;
   font-size: 20px;
   font-weight: 900;
   padding: 12px;
   background-color: #0F7DDD;
   -webkit-box-shadow: 1px 1px 6px 0 #000000;
   -moz-box-shadow: 1px 1px 6px 0 #000000;
   box-shadow: 1px 1px 6px 0 #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.redbutton:hover {
   border: solid #ED3333 1px;
   background: #811616;
   background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
   background-image: -moz-linear-gradient(top, #811616, #F63D3D);
   background-image: -ms-linear-gradient(top, #811616, #F63D3D);
   background-image: -o-linear-gradient(top, #811616, #F63D3D);
   background-image: -webkit-gradient(to bottom, #811616, #F63D3D);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
